@model sitehero.Core.Data.Models.Paragraphe

@{
    ViewData["Title"] = "C'est parti";

}

<div class="row text-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                @if (Model.Image != null)
                {
                    <img src="@Model.Image" alt="@Model.Titre" class="img-thumbnail">
                }
                <h3 class="card-title">@Model.Titre</h3>
                <p class="card-text">
                    @Model.Description
                </p>

                @if (Model.MaQuestion != null)
                {
                    <div class="card-text">
                        <p>
                            @Model.MaQuestion.Titre
                        </p>
                        @if (Model.MaQuestion.MesReponses != null && Model.MaQuestion.MesReponses.Count > 0)
                        {
                            <ul style="list-style:none">
                                @foreach (var reponse in Model.MaQuestion.MesReponses)
                                {
                                    <li><a asp-controller="Aventure" asp-action="BeginNewOne" asp-route-id="@reponse.ParagrapheId"> @reponse.Description</a></li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

