@model sitehero.Core.Data.Models.Paragraphe

@{
    ViewData["Title"] = "C'est parti";

}
<h2>C'est parti !</h2>

<div class="row">
    <div class="col text-center">
        <h1>@Model.Titre</h1>
        <p>
            @Model.Description
        </p>
    </div>
</div>

@if (Model.MaQuestion != null)
{
    <div class="row">
        <div class="col text-center">
            <p>
                @Model.MaQuestion.Titre
            </p>
            @if (Model.MaQuestion.MesReponses !=null && Model.MaQuestion.MesReponses.Count > 0)
            {
             <ul>
                @foreach (var reponse in Model.MaQuestion.MesReponses)
                {
                    <li><a asp-controller="Aventure" asp-action="BeginNewOne" asp-route-id="@reponse.ParagrapheId"> @reponse.Description</a></li>
                }
            </ul>   
            }    
        </div>
    </div>
}

